@import "tailwindcss";

@layer components {
    .range-slider-track {
        @apply relative h-2 rounded-full bg-gray-200;
    }

    .range-slider-range {
        @apply absolute h-full rounded-full bg-blue-500;
    }

    .range-slider-thumb {
        @apply absolute top-1/2 -translate-y-1/2 h-5 w-5 rounded-full bg-white border-2 border-blue-500 cursor-pointer transition-transform hover:scale-110 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
    }
    .range-slider-tooltip {
        @apply absolute -top-6;
    }
}
